<div class="mt-4">
    <h3>Sửa khoá học</h3>
    <form action="/courses/{{course._id}}?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học</label>
            <input type="text" class="form-control" id="name" name="name" value="{{course.name}}" />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}" />
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Link thumbnail</label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" value="{{course.thumbnail}}" />
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level" value="{{course.level}}"/>
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>
